<!-- <span *ngIf="site$ | async as site">{{site.siteName}}</span> -->
 <!-- <div *ngFor="let datalogger of dataloggers$ | async">
    <ko-datalogger [dataloggerId]="datalogger.id"></ko-datalogger>
</div>  -->

<mat-card>
    <mat-card-title>
        <span *ngIf="site$ | async as site">{{site.siteName}}</span>
    </mat-card-title>
</mat-card>

<mat-grid-list cols="4" rowHeight="1:0.5">
    <a *ngFor="let datalogger of dataloggers$ | async">
        <div class="dataloggers">
            <div mat-grid-tile>
                <ko-datalogger [dataloggerId]="datalogger.id"></ko-datalogger>
            </div>
        </div>
    </a>
</mat-grid-list>