<!--<div *ngIf="(site$ | async) as site">
        {{site.siteName}}
    <ko-datalogger *ngFor="let datalogger of dataloggers$ | async" 
        [dataloggerId]="datalogger.id" [siteId]="siteId">
    </ko-datalogger>
</div>  -->

 <div *ngFor="let datalogger of dataloggers">
    <ko-datalogger [dataloggerId]="datalogger.id"></ko-datalogger>
        <mat-card>
            <button mat-raised-button color="warn">
                <mat-icon>satellite</mat-icon> {{datalogger.dataloggerName}}
            </button>
        </mat-card>
</div> 
