<mat-card>
  <mat-card-title>
    ENT <mat-icon>nature_people</mat-icon>
  </mat-card-title>
  <mat-card-content>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>terrain</mat-icon>
        <span>Home</span>
      </button>
      <div *ngFor="let site of sites$ | async">
        <button mat-menu-item (click)="router.navigate([site.id], {relativeTo: route})">
          <span>{{site.siteName}}</span>
        </button>
      </div>
    </mat-menu>
  </mat-card-content>
</mat-card>