<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">CACI</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sites
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/datalogger">Site 1</a></li>
            <li><a href="#">Site 2</a></li>
            <li><a href="#">Site 3</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
